# Symfony standard
/vendor/
/var/
/bin/*
!/bin/console
/.env
/.env.local
/.env.*.local

# Secrets Symfony
/config/secrets/dev/
/config/secrets/test/

# Mercure config (local)
mercure.yaml
mercure.yaml.local
/dev.Caddyfile
/dev_chatapp.Caddyfile

# Node.js
/node_modules/
public/bundles/

# IDE et système
/.idea/
/*.log
/.DS_Store

# Cache, fichiers temporaires, logs
*.log
bin/mercure.exe