{% extends 'base.html.twig' %}

{% block title %}Create a Job{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/create_job_form.css') }}">
{% endblock %}


{% block body %}
<div class="create-job-wrapper">
    <h1>Create Job</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="submit-btn">Post Job</button>
    {{ form_end(form) }}
</div>
{% endblock %}
